.nav a li {
  color: #DED3E3;
  display: inline-block;
  vertical-align: bottom;
}
.nav a li:hover {
  background-color: #DED3E3;
  color: white;
}
.nav img {
  height: 100px
}
.nav {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  text-align: left;
  vertical-align: center;
}
#navright{
  float:right;
  margin-top:20px;
}

.container{
  font-family: Comfortaa;
}
