.nav a li {
  color: #949494;
  display: inline-block;
  padding-right: 15px;
  font-size: 28px;
}
.nav a li:hover {
  color: #DED3E3;
}
.nav a li img {
  height: 100px;
  vertical-align: top;
}
.nav li {
  color: #DED3E3;
  display: inline-block;
  padding-right: 15px;
  font-size: 28px;
}
.nav {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  text-align: left;
}
#navright{
  float: right;
  margin-top: 20px;
}

form {
  display: block;
  padding-left: 60px;
}
textarea {
  font-family: Comfortaa;
}
input {
  font-family: Comfortaa;
}

h1{
  color: #DED3E3;
  text-align: center;
}

.container{
  font-family: Comfortaa;
}

.copyright{
  color: #949494;
  font-size: 10px;
  margin-top: 375px;
  margin-right: 100px;
  margin-left: 150px;
  text-align: center;
}
