.nav a li {
  color: #949494;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 15px;
  font-size: 28px;
}
.nav a li:hover {
  color: #DED3E3;
}
.nav img {
  height: 100px
}
.nav p {
  color: #DED3E3;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 15px;
  font-size: 28px;
}
.nav {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  text-align: left;
}
#navright{
  float:right;
  margin-top:20px;
}

.container{
  font-family: Comfortaa;
}
