ul {
  vertical-align: top;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
}
ul img {
  height: 50px;
  float: left;
}
li {
  float: left;
}
li a {
  display: block;
  color: #DED3E3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #DED3E3;
  color: white;
}

.container{
  font-family: Comfortaa;
}
